<launch>
  <group ns="robot1">
    <param name="lcm_robot_id" value="/001"/>
    <node pkg="zumy_lcm" name="zumy_driver" type="zumy_lcm.py"/>
  </group>

  <group ns="robot2">
    <param name="lcm_robot_id" value="/002"/>
    <node pkg="zumy_lcm" name="zumy_driver" type="zumy_lcm.py"/>
  </group>

  <group ns="robot3">
    <param name="lcm_robot_id" value="/003"/>
    <node pkg="zumy_lcm" name="zumy_driver" type="zumy_lcm.py"/>
  </group>
</launch>
